// .container{
//     // background-color: red;
//     margin: 1rem;
//     justify-content: center;
//     display: flex;
//     color: rgb(255, 255, 255);
//     font-style: Bold;
//     font-size: 3rem;
// }
.container{
margin: 0%;
}

.title{
    // margin-top: rem;
    font-style: normal;
    color: #abacad;
}

.folder-selection{

    button {
        border-radius: 4px;
        background-color: #8b939a;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 22px;
        padding: 16px;
        width: 220px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 36px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
        border-radius: 2rem;
      }
      
      button{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      button:after {
        content: '»';
        position: absolute;
        opacity: 0;  
        top: 14px;
        right: -20px;
        transition: 0.5s;
      }
      
      button:hover{
        padding-right: 24px;
        padding-left:8px;
      }
      
      button:hover:after {
        opacity: 1;
        right: 10px;
      }
}

  
.subtitle{

  color: rgb(156, 150, 138);
  font-size: 2rem;
}